# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
ENV/

# Environment variables
.env

# User uploads
app/presentation/static/uploads/avatars/*
!app/presentation/static/uploads/avatars/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# Distribution
dist/
build/
*.egg-info/

# Alembic
alembic/versions/*.pyc

# OS
.DS_Store
Thumbs.db
